<div class="button-wrapper-wrapper">
    <div class="button-wrapper">
        <button class="start-button"
            (click)="startMeasurement()">
            <mat-icon class="material-symbols-outlined" fontIcon="play_arrow" />
        </button>
            <button class="stop-button">
            <mat-icon class="material-symbols-outlined" fontIcon="save" />
        </button>
            <button class="stop-button">
            <mat-icon class="material-symbols-outlined" fontIcon="radio_button_checked" />
        </button>
            <button class="delete-button"
                (click)="deleteMeasurementData()">
            <mat-icon class="material-symbols-outlined" fontIcon="delete" />
        </button>
    </div>
</div>