<mat-drawer-container autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <div class="header">
            <mat-icon>dataset</mat-icon>
            <h1>Control Panel</h1>
        </div>
        <nav class="sidebar-tabs">
            <button (click)="selectedTab.set('devices')" [class.active]="selectedTab() === 'devices'">Devices</button>
            <button (click)="selectedTab.set('files')" [class.active]="selectedTab() === 'files'">Files</button>
            <button (click)="selectedTab.set('analysis')"
                [class.active]="selectedTab() === 'analysis'">Analysis</button>
        </nav>
        @switch(selectedTab()){
        @case ('devices') {
        <app-deviceslist></app-deviceslist>
        }
        @case ('files') {
        <div class="tab-content"> Here will be future files. In development </div>
        }
        @case ('analysis') {
        <div class="tab-content"> Here will be future analysis. In development.</div>
        }
        }
    </mat-drawer>

    <div class="sidebar-button">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon> dehaze </mat-icon>
        </button>
    </div>
</mat-drawer-container>