<h1 mat-dialog-title>Select Data Source</h1>

<mat-dialog-content>
    <ul>
        @for (source of sources(); track source.id) {
            <li> 
                <!-- Select data source with clickable card -->
                <!-- If cards should also be filled when not selected, use 'filled' instead of 'outlined'. See: https://material.angular.dev/components/card/api -->
                <mat-card [appearance]="selected()?.id === source.id ? 'raised' : 'outlined'" (click)="select(source)">
                    <mat-card-header>
                        <mat-card-title>{{ source.name }}</mat-card-title>
                    </mat-card-header>
                    @if (source.description; as description) {
                        <mat-card-content>{{ description }}</mat-card-content>
                    }
                </mat-card>
            </li>
        }
    </ul>
    
</mat-dialog-content>

<mat-dialog-actions align="end">
    <!--Buttons are disabled when no source is selected, "Clear Selection" button uses different style for visual contrast-->
    <button mat-button [mat-dialog-close]="selected()" [disabled]="!selected()">Start</button>
</mat-dialog-actions>