.toolbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
    padding: 0.5vh;
}

.toolbar-center {
    display: flex;
    gap: 40px;
}

.toolbar-right {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

button {
    color: var(--mat-sys-on-surface);
    border: 1px solid var(--mat-sys-outline-variant);
    background: var(--mat-sys-surface-container-highest);
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px var(--mat-sys-outline);
    padding: 8px;
}

button:hover {
    color: var(--mat-sys-primary);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

.mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    vertical-align: middle;
}

:host-context(.dark-theme) button {
    color: var(--mat-sys-on-surface);
}

:host-context(.dark-theme) button:hover {
    color: var(--mat-sys-primary);
}