svg {
    min-width: 400px;
    min-height: 300px;
    width: 100%;
    height: 80%;
    border: 1px solid var(--mat-sys-outline);
    display: block;
    box-sizing: border-box;
}

.button-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
}

.toolbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
}

.toolbar-center {
    display: flex;
    gap: 20px;
}

.toolbar-right {
    position: absolute;
    right: 0;
    margin-right: 10px;
}