<!-- Create and update server cards automatically with header IP:Port via devicelist content from devicelist service -->
<!-- Use devicecard component templates to create the inner app-device-cards -->
@for(servercard of devicelistService.servercards(); track servercard.key){
<div class="device-card" [class.device-card-collapsed]="sideBarService.collapsed()">
    @if(!sideBarService.collapsed()){
    <h2 class="card-header">{{servercard.server.name || servercard.key}}</h2>
    }
    <div class="card-content">
        @if(servercard.devices.length === 0){
        <div> No devices found ...</div>
        }
        @for (device of servercard.devices; track device.uuid){
        <div class="scope-card" [class.scope-card-collapsed]="sideBarService.collapsed()">
            <app-device-card [name]="'test'" [uuid]="device.uuid" [color]="device.color"></app-device-card>
        </div>
        }
    </div>
</div>
}